@import url('https://fonts.cdnfonts.com/css/sansation');
@tailwind base;

@layer base {
  h1 {
    @apply font-bold;
  }
}

@tailwind components;
@tailwind utilities;

/* * {
    font-family: 'Sansation', sans-serif;
}*/

html {
  background-image: url('./images/bg_patterns/memphis-mini.jpg');
}

html.dark {
  background-color: #000; /* 192734 , #1a1c1d */
  background-image: url('./images/bg_patterns/memphis-mini-dark.jpg');
}