input {
    text-align: center;  
    border: 1px solid #6C757D;
} 
  
input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wrapper {
    display: flex;
    align-items: center;
    /* border: 2px #192734 solid; */
    width: 70vw;
    max-width: 400px;
    height: 50px;
    padding: 10px;
    margin-top: 0.75rem;
    margin-bottom: 3rem;
    border-radius: 15px;
}

/*.dark .wrapper {
    border: 2px #FFF solid;
}*/

.plus-minus-bg {
    background-color: #192734;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-self: center;
}

.plus-minus-bg:active {
    background-color: #FB4242;
}

.dark .plus-minus-bg {
    background-color: #FFF;
}

.dark .plus-minus-bg:active {
    background-color: #192734;
}

.plus-minus {
    position: relative;
    top: -1.35rem;
    height: 100%;
    width: 30%;
    border: none;
    font-size: 40px;
    color: #fb4242;
}

.plus-minus:active {
    color: #FFF;
}

.plus-btn {
    padding-top: 0.425rem;
    padding-left: 0.4rem;
}

.minus-btn {
    padding-top: 0.425rem;
    padding-left: 0.375rem;
}

.ticket-count {
    background-color: #ffffff00;
    height: 3rem;
    width: 3.5rem;
    padding-bottom: 3px;
    border: none;
    border-radius: 3px;
    font-size: 30px;
}

.dark .ticket-count {
    background-color: #FFF;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.75);
}

.popup-content {
    width: 100% !important;
    max-width: 800px;
    height: 80%;
    border: none !important;
    border-radius: 10px;
}

.dark .popup-content {
    background-color: #192734;
}

/*.seats {
    color: #000;
    background-color: #5a5a5a71;
    margin: auto 0.25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
}

.seats:hover {
    background-color: #2ee1407e;
}

.seats-selected {
    background-color: #2ee13f;
}

.seat-taken {
    background-color: #fb4242 !important;
}*/

.theater-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transform-style: preserve-3d;
}

#theater {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    perspective: 1500px;
    margin-bottom: 30px;
}

.front-rows {
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    place-content: center;
    position: relative;
    right: 10%;
    bottom: 3%;
    margin: 0 auto;
}

.back-rows {
    position: relative;
    right: 5%;
    bottom: 3%;
    margin: 0 auto;
}

.seat {
    background-color: #444451;
    height: 18px;
    min-height: 18px;
    width: 18px;
    min-width: 18px;
    margin: 3px 2px;
    border-radius: 4px;
}

.dark .seat {
    background-color: #FFF;
}

.front-rows .seat:nth-child(2n + 1) {
    margin-left: 4%;
}

.back-rows .seat:nth-child(2n + 1) {
    margin-left: 2%;
}

.seat.selected {
    background-color: #2ee13f;
}

.seat.occupied {
    background-color: #fb4242;
}

/*.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}*/

.seat:not(.occupied):hover {
    cursor: pointer;
    background-color: #2ee1407e;
}

.dark .seat:not(.occupied):hover {
    cursor: pointer;
    background-color: #83ff8f;
}

.back-rows > .row:nth-last-child(-n+2) {
    margin-left: -25px;
}

#tableOfContents {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
}

.dark #tableOfContents {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
}

#tableOfContents li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#tableOfContents li span {
    font-size: 14px;
    margin-left: 10px;
}

#tableOfContents .seat {
    cursor: default;
}

#tableOfContents .seat:not(.occupied):hover {
    background-color: #444451;
}

.dark #tableOfContents .seat:not(.occupied):hover {
    background-color: #FFF;
}

#tableOfContents .seat.selected:hover {
    background-color: #2ee13f !important;
}

.row {
    display: flex;
    width: 100%;
}

.front-rows .row {
    margin: 2px auto;
}

.back-rows .row {
    margin: 5px auto;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%;
    left: 6.25%;
    background-color: #bbb;
    height: 150px;
    width: 87%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 15px 0;
    transform: translate3d(0, -50%, 0) rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
}

.dark .screen {
    background-color: #FFF;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}
  
.screen span {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 3px rgb(0, 0, 0);
}

.dark .screen span {
    text-shadow: none;
}

.dark .screen span {
    color: #1f1e1e;
}

#checkoutBtn {
    background-color: #6c757dab;
    color: #FFF;
    width: 15rem;
    padding: 1.25rem;
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 15px;
    transition: transform 1s ease-in-out;
}

.seats-to-tickets {
    font-weight: 600;
}

/* .seats-to-tickets {
    color: #FB4242;
}

.equals {
    color: #2ee13f;
} */

@media only screen and (max-width: 640px) {
    .wrapper {
        justify-content: center;
    }

    
}

@media only screen and (min-width: 640px) {
    #theater {
        width: 85%;
    }

    .front-rows {
        right: 8%;
    }
}

@media only screen and (min-width: 930px) {
    .popup-content {
        width: 85% !important;
    }

    #tableOfContents {
        bottom: 0px;
    }

    .screen {
        bottom: 0px;
        width: 95%;
        left: 2.5%;
    }

    .seat {
        width: 22px;
        min-width: 22px;
        height: 22px;
        min-height: 22px;
    }

    .back-rows .seat:nth-child(2n + 1) {
        margin-left: 2.5%;
    }
    
}

@media only screen and (min-width: 1536px) {


}