input {
    text-align: center;  
    border: 1px solid #6C757D;
} 
  
input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wrapper {
    display: flex;
    border: 2px #192734 solid;
    width: 40vw;
    max-width: 200px;
    height: 50px;
    padding: 10px;
    margin-top: 0.75rem;
    margin-bottom: 3rem;
    border-radius: 15px;
}

.dark .wrapper {
    border: 2px #FFF solid;
}

.plus-minus {
    position: relative;
    top: -1.35rem;
    height: 100%;
    width: 30%;
    border: none;
    font-size: 40px;
    color: #fb4242;
}

.plus-minus:active {
    color: #192734;
}

.ticket-count {
    height: 100%;
    width: 39%;
    padding-bottom: 3px;
    border: none;
    border-radius: 3px;
    font-size: 30px;
}

.reserve-seats {
    color: #FFF;
    background-color: #6c757de1;
    padding: 1rem 3rem;
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 15px;
}

@media screen and (min-width: 1024px /* lg: */) {
    .reserve-seats {
        margin-top: 0rem;
    }
}